<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Inquisite.co</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <style>
        html {
            scroll-behavior: smooth;
        }
        .info_text {
            padding-left: 50px;
            padding-right: 50px;
        }

        .card_size {
            overflow: scroll !important;
            height: 350px !important;
        }
    </style>
</head>
<body style="margin-left: 5%; margin-right: 5%;">

    {% macro linebreaks_for_string( the_string ) -%}
        {% if the_string %}
            {% for line in the_string.split('\n') %}
                <br />
                {{ line }}
            {% endfor %}
        {% else %}
        {{ the_string }}
        {% endif %}
    {%- endmacro %}

    {% macro show_occurrences( number ) -%}
        {% if number > 1 %}
            {{ number }} occurrences
        {% else %}
            {{ number }} occurrence
        {% endif %}
    {%- endmacro %}

<br><br><br>

<div class="title is-3" style="text-align: center;"> Inquisite (Beta) </div>
<div class="subtitle is-4" style="text-align: center"> Get insights from any text or link  </div>
<br>
<div class="columns is-centered">
    <div class="column is-10">
        <form action="/" method="post">

            <div class="control" style="text-align: center">
                <label class="radio">
                    <input type="radio" name="text_radio" id="text_radio" checked onclick="update_page(this);">
                    Text
                </label>
                <label class="radio">
                    <input type="radio" name="link_radio" id="link_radio" onclick="update_page(this);">
                    Link
                </label>
            </div>
            <br>

            <div id="link" style="display: none">
                <input name="link" class="input" placeholder="Place any link here" value="{{link}}">
                <br><br>
            </div>
            <div id="text">
                <textarea name="text" class="textarea" style="height: 400px;">{{text}}</textarea>
                <br>
            </div>

            <div style="text-align: center">
                <button class="button"> Analyze Text!</button>
            </div>
        </form>
    </div>

</div>

{% if analyze == True %}
<div class="column">
    <hr id="hr" />
    <div class="columns">
        <div class="column">
            <div class="card" id="summary">
                <div class="card-content card_size" style="height: 250px !important;">
                    <div style="text-align: center"><span class="title is-5"> Summary </span><br><br></div>
                    <div class="info_text">
                        {{ summary }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="column">
    <div class="columns">
        <div class="column is-half">
            <div class="card">
                <div class="card-content card_size">
                    <div style="text-align: center"><span class="title is-5"> Entities </span><br><br></div>
                    <div>
                        {% for entity in entities %}
                        <a href="https://infinitysearch.co/results?q={{entity[0]}}">{{entity[0]}}</a>
                        ({{entity[2]}}):
                        {{ show_occurrences( entity[1] ) }}
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="card">
                <div class="card-content card_size">
                    <div style="text-align: center"><span class="title is-5"> Keywords </span><br><br></div>
                    {% for keyword in keywords %}
                        <a href="https://infinitysearch.co/results?q={{keyword}}">{{keyword}}</a>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="column">
    <div class="columns">
        <div class="column is-half">
            <div class="card">
                <div class="card-content card_size">
                    <div style="text-align: center"><span class="title is-5"> Nouns </span><br><br></div>
                    {% for noun in nouns %}
                    <a href="https://infinitysearch.co/results?q={{noun[0]}}">{{noun[0]}}</a>:
                    {{ show_occurrences( noun[1] ) }}
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="card">
                <div class="card-content card_size">
                    <div style="text-align: center"><span class="title is-5"> Verbs </span><br><br></div>
                    {% for verb in verbs %}
                    <a href="https://infinitysearch.co/results?q={{verb[0]}}">{{verb[0]}}</a>:
                    {{ show_occurrences( verb[1] ) }}
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>

<div class="column">
    <div class="columns">
        <div class="column is-half">
            <div class="card">
                <div class="card-content card_size">
                    <div style="text-align: center"><span class="title is-5"> Common Words </span><br><br></div>
                    {% for word in words %}
                    <a href="https://infinitysearch.co/results?q={{word[0]}}">{{word[0]}}</a>:
                    {{ show_occurrences( word[1] ) }}
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="card">
                <div class="card-content card_size">
                    <div style="text-align: center"><span class="title is-5"> Links </span><br><br></div>
                    {% for link in links %}
                    <a href="{{link[0]}}"> {{link[0]}}</a>: {{ show_occurrences( link[1] ) }}
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<hr/>


<br> <div style="text-align: center">Powered by <a href="https://infinitysearch.co">Infinity Search</a>

<script>
    $('html, body').animate({
        scrollTop: $("#hr").offset().top
    }, 1000);
</script>

{% endif %}

<br><br>


<script>
    function update_page(radio) {
        if (radio.id === 'link_radio') {
            document.getElementById('link').style.display = 'block';
            document.getElementById('text').style.display = 'none';
            radio.checked = true;
            document.getElementById('text_radio').checked = false;
        } else if (radio.id === 'text_radio') {
            document.getElementById('link').style.display = 'none';
            document.getElementById('text').style.display = 'block';
            radio.checked = true;
            document.getElementById('link_radio').checked = false;
        }
    }

</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }
    });
</script>

</body>
</html>
